.darkbg {
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 999;
	position: absolute;
	top: 0 ;
	left: 0;
}
.darkbg span {
	display: block;
	color:#fff;
	font-size: 0.36rem;
	width: 2.2rem;
	margin:0.8rem auto 0 auto;
}
.container {
  width: 2.0rem;
  height: 0.5rem;
  position: absolute;
  top: calc(50% + 0.5rem);
  left: calc(50% + 0.5rem);
  opacity: 0;
  -webkit-animation: fadeIn 1s 1;
  -o-animation: fadeIn 1s 1;
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
}

.wrap {
  -webkit-animation: translateX 1000ms infinite ease-in-out alternate;
  -o-animation: translateX 1000ms infinite ease-in-out alternate;
  animation: translateX 1000ms infinite ease-in-out alternate;
  position: absolute;
}

.ball {
  width: 0.5rem;
  height: 0.5rem;
  box-shadow: 0 -0.05rem 0 rgba(0, 0, 0, 0.15) inset;
  background-color: #397BF9;
  border-radius: 50%;
  -webkit-animation: translateY 500ms infinite ease-in-out alternate;
  -o-animation: translateY 500ms infinite ease-in-out alternate;
  animation: translateY 500ms infinite ease-in-out alternate;
  border: 0.02rem solid black;
}

.wrap:after {
  content: '';
  width: 0.5rem;
  height: 0.075rem;
  background: #eee;
  position: absolute;
  bottom: 0;
  top: 0.7rem;
  border-radius: 50%;
  -webkit-animation: scale 500ms infinite ease-in-out alternate;
  -o-animation: scale 500ms infinite ease-in-out alternate;
  animation: scale 500ms infinite ease-in-out alternate;
}
.wrap1 {
	composes:wrap;
}
.wrap2 {
	composes:wrap;
	animation-delay: -400ms;
}
.wrap3 {
	composes:wrap;
	animation-delay: -800ms;
}
.wrap4 {
	composes:wrap;
	animation-delay: -1200ms;
}
.wrap5 {
	composes:wrap;
	animation-delay: -1600ms;
}
.ball1 {
	composes:ball;	
}
.ball2 {
	composes:ball;	
  background-color: #F4B400;
    animation-delay: -400ms;
}

.ball3 {
	composes:ball;	
  background-color: #EEEEEE;
  animation-delay: -800ms;
}
.ball4 {
	composes:ball;	
  background-color: #00A656;
  animation-delay: -1200ms;
}
.ball5 {
	composes:ball;	
  background-color: #E3746B;
  animation-delay: -1600ms;
}
@-webkit-keyframes translateX {
  100% {
    -webkit-transform: translateX(-1.5rem);
    -ms-transform: translateX(-1.5rem);
    -o-transform: translateX(-1.5rem);
    transform: translateX(-1.5rem);
  }
}
@keyframes translateX {
  100% {
    transform: translateX(-1.5rem);
  }
}
@-webkit-keyframes translateY {
  100% {
    -webkit-transform: translateY(-1.875rem);
    -ms-transform: translateY(-1.875rem);
    -o-transform: translateY(-1.875rem);
    transform: translateY(-1.875rem);
  }
}
@keyframes translateY {
  100% {
    transform: translateY(-1.875rem);
  }
}
@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
}
@keyframes scale {
  100% {
    transform: scale(1.15);
  }
}
@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.bigbigbody {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:#000;
	z-index: 99;
}


.chipei {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.chipei p {
	display: flex;
	justify-content: flex-start;
	width: 50%;
	height: 1rem;
}
.chipei p img {
	width: .6rem;
	height: .6rem;
}
.chipei p span {
	color: #fff;
	font-size: 0.36rem;
	line-height: .6rem;
}
.cangoplay {
    display: block;
    width: 3rem;
    font-size: .3rem;
    background: red;
    height: .8rem;
    line-height: .8rem;
    color: #fff;
    margin: 0.3rem auto 0 auto;
    text-align: center;
    border-radius: .2rem;
}
.bigbody {
/*	width:9.83rem;
	height: 4.85rem;
*/
	width: 85%;
	background: url(./img/bodybg.png) no-repeat bottom center;
	background-size: 100% calc(100vh - 1.6rem);
	margin: .3rem auto;
/*	position: absolute;
	bottom: 0;
	right: 0.12rem;*/
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items: left;
	padding-left: 1.5%;
}
.bigbody .mgt20 {
	width: 9.83rem;
	height: 0.1rem;
}
.bigbody dl {
	display: flex;
	flex-wrap: nowrap;
	width: 98%;
	height: 10%;
	justify-content:space-between;
/*	margin-bottom: 0.16rem;
*/}


.bigbody dl dt {
	display: block;
	width: .62rem;
}
.bigbody dl dt img {
	width: 92%;
	margin: 0 auto;
}
.bigbody dl dd {
	display: block;
	width: 0.86rem;
	height: 0.42rem;
	background: #017dbd;
	border-radius: .43rem;
	border:5px #fff solid;
	font-size: 0.25rem;
	line-height: .42rem;
	text-indent: 0.12rem;
}
.bigbody dl dd a {
	display: block;
	width: .86rem;
	height: .42rem;
	color: #fff;
	position: relative;
	text-indent: 0.20rem;
}
.bigbody dl dd a span {
	display: block;
	width: .47rem;
	height: .47rem;
	color: #fff;
	position: absolute;
	top: -0.03rem;
	right: -0.2rem;
	background: url(./img/plusbtnbg.png) no-repeat center center;
	background-size: .47rem .47rem;
	text-indent: 0;
	text-align: center;
}
.bigbody dl dd a img {
	position: absolute;
	width: 0.47rem;
	right: -0.2rem;
	top: -0.03rem;
}
.bigbody .mgb10 {
	margin-bottom: 0.08rem;
}
.bigbody .mgb10 img {
	width: 50%;
}
.bigbody ul {
	display: flex;
	flex-wrap: nowrap;
	width: 98%;
	height: 12%;
	justify-content:space-between;
	margin-bottom: 0.16rem;
}
.bigbody ul li {
	display: block;
	width: 0.62rem;
	height: 0.62rem;
/*	background: #017dbd;
*/	border-radius: .43rem;
	border:2px #fff solid;
	font-size: 0.25rem;
	line-height: .62rem;
	text-indent: 0.12rem;
	opacity: .2;
}
.five {
	background: url(./img/five.png) no-repeat center center;
	background-size: 130% 130%;
	background-position: -.1rem -.14rem;
}



.bigbody ul li a {
	display: block;
	width: 0.62rem;
	height: 0.62rem;
	position: relative;
}
.bigbody ul li a span {
	display: block;
	width: .4rem;
	height: .4rem;
	color: #fff;
	position: absolute;
	top: 0.01rem;
	right: -0.2rem;
	background: url(./img/plusbtnbg.png) no-repeat center center;
	background-size: .4rem .4rem;
	text-indent: 0;
	text-align: center;
	line-height: .4rem;
}
.bigbody ul .redball {
	background: rgba(255, 0, 0, .45);
}
.bigbody ul .blueball {
	background: rgba(0, 30, 255, .45);
}
.bigbody ul .greenball {
	background: rgba(0, 255, 0, .45);
}
.bigbody ul span {
	display: block;
	width: .62rem;
	height: .62rem;
/*	background: url(./img/ball_bg.png) no-repeat center center;
*/	background-size: .62rem .62rem;
	font-size: 0.18rem;
	color: #fff;
	line-height: .62rem;
	text-align: center;
}
.plusbtnout {
	width: 98%;
}
.plusbtn {
	width: 8.4rem;
	justify-content:space-between;
}
.plusanmbtn {
	margin-bottom: .16rem;
}
.bigbody .plusanmbtn dd {
	display: block;
	width: 0.62rem;
	height: 0.42rem;
	background: #017dbd;
	border-radius: .43rem;
	border:5px #fff solid;
	font-size: 0.25rem;
	line-height: .42rem;
	text-indent: 0.12rem;
}
.bigbody .plusanmbtn dd a ,.bigbody ul li a {
	display: block;
	width: .62rem;
	height: .62rem;
	color: #fff;
	position: relative;
	text-indent: 0.15rem;
}
.bigbody .plusanmbtn dd a span {
	display: block;
	width: .47rem;
	height: .47rem;
	color: #fff;
	position: absolute;
	top: -0.03rem;
	right: -0.2rem;
	background: url(./img/plusbtnbg.png) no-repeat center center;
	background-size: .47rem .47rem;
	text-indent: 0;
	text-align: center;
	line-height: .42rem;
}
.bigbody .plusanmbtn dd a img {
	position: absolute;
	width: 0.47rem;
	right: -0.2rem;
	top: -0.03rem;
}

@media screen and (orientation: portrait) {
    .allthebody {
    	height: calc(100vw - 1.44rem);
    }
    .bigbody {
    	height:calc(100vw - 1.6rem);
    }
}
@media screen and (orientation: landscape) {
    .allthebody {
    	height: calc(100vh - 1.44rem);
    }
    .bigbody {
    	height:calc(100vh - 1.6rem);
    }    
}
